.btn-wrapper {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--visited);
  border-radius: 10px;
  margin-top: 5rem;
  margin-right: 7rem;
  background-color: var(--secondary);
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-wrapper:hover {
  transition: all 0.5s ease;
  background-color: var(--background);
  border-color: var(--accent);
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 2rem;
  width: 6rem;
  margin: 1rem 1.5rem;
  color: var(--accent);
  font-weight: var(--font-weight-bolder);
  font-size: var(--font-size-xlarge);
  font-family: var(--cta-font);
  transition: color 0.5s ease;
}

.addResource-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative; /* Ensure the dropdown is positioned relative to this wrapper */
}

/* Media Queries for Responsiveness */

@media (max-width: 950px) {
  .drop-down {
    width: 85%; /* Adjust width for smaller screens */
    left: -18%;
    top: 100%; /* Position below the button */
  }

  .add-btn {
    height: 1.5rem;
    width: 4rem;
    margin: 1rem 1rem;
  }

  .add-btn > h1 {
    font-size: var(--font-size-normal);
  }

  .create-module-title,
  .add-link-title,
  .upload-title {
    font-size: var(--font-size-normal);
  }

  .create-module > img,
  .add-link > img,
  .upload > img {
    height: 1.2rem;
    width: 1.2rem;
  }
}
